data/results.csv
data/stats.csv

data/task1/*
!data/task1/.gitkeep

data/task2/*
!data/task2/.gitkeep

data/task3/*
!data/task3/.gitkeep

data/task4/*
!data/task4/.gitkeep

data/task5/*
!data/task5/.gitkeep

data/task6/*
!data/task6/.gitkeep

data/task7/*
!data/task7/.gitkeep